

#calibrateCanvas {
	position: relative;
	z-index: 10;
}
#leftEyeCnt {
	font-size: 32px;
	color: blue;
}
#instruction {
	color: #458B00;
}
.et-wrapper {
	width: 200px;
	height: 200px;
}
.et-page:nth-child(1) {
	background: red;
}
.et-page:nth-child(2) {
	background: blue;
}
.et-page:nth-child(3) {
	background: purple;
}
.et-page:nth-child(4) {
	background: peachpuff;
}
.et-page:nth-child(5) {
	background: darkorange;
}
#controlls a {
	text-decoration: none;
	color: #666;
	display: block;
	position: absolute;
	height: 58px;
	padding-top: 40px;
	width: 98px;
	border: solid 1px #ddd;
	text-align: center;
}
#controlls {
	position: relative;
	width: 300px;
	height: 300px;
}
a#goUp {
	left: 100px;
	top: 0px;
}
a#goLeft {
	left: 0px;
	top: 100px;
}
a#goRight {
	right: 0px;
	top: 100px;
}
a#goDown {
	left: 100px;
	bottom: 0px;
}